{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contactos.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <div class="block">
          {{ with .Site.Data.contactos.contactFormTitle }}<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms"
            data-wow-delay=".3s">{{ . }}</h2>{{ end }}
          {{ with .Site.Data.contactos.contactFormSubtitle }}<p class="subtitle-des wow fadeInDown"
            data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
          <div class="contact-form">
            <form method="POST" action="{{ .Site.Params.contactFormAction }}">

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                <input type="text" placeholder="Nome" class="form-control" name="name" id="name">
              </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                <input type="email" placeholder="Email" class="form-control" name="email" id="email">
              </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                <input type="text" placeholder="Assunto" class="form-control" name="subject" id="subject">
              </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                <textarea rows="6" placeholder="Mensagem" class="form-control" name="message" id="message"></textarea>
              </div>

              <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                <button type="submit" id="contact-submit" class="btn btn-default btn-send hvr-bounce-to-right"
                  value="Send Message">Enviar mensagem</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map-area">
          {{ with .Site.Data.contactos.mapTitle }}<h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms"
            data-wow-delay=".3s">{{ . }}</h2>{{ end }}
          {{ with .Site.Data.contactos.mapSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms"
            data-wow-delay=".5s">{{ . }}</p>{{ end }}
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50962.08178843937!2d-7.879324800715901!3d37.03054392635454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1aab32b7e934fb%3A0x14f4290619058992!2zT2xow6Nv!5e0!3m2!1sen!2spt!4v1615803873026!5m2!1sen!2spt"
              width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row address-details">
      <div class="col-lg-3 col-sm-6">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
          <i class="ion-ios-location-outline"></i>
          {{ with .Site.Data.contactos.officeAddress1 }}<h5>{{ . }}</h5>{{ end }}
        </div>
      </div>
      <!-- <div class="col-lg-3 col-sm-6">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
          <i class="ion-ios-location-outline"></i>
          {{ with .Site.Data.contactos.officeAddress2 }}<h5>{{ . }}</h5>{{ end }}
        </div>
      </div> -->
      <div class="col-lg-3 col-sm-6">
        <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
          <i class="ion-ios-email-outline"></i>
          <p>{{ with .Site.Data.contactos.mail1 }}{{ . }}{{ end }}
            <br>{{ with .Site.Data.contactos.mail2 }}{{ . }}{{ end }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
          <i class="ion-ios-telephone-outline"></i>
          <p>{{ with .Site.Data.contactos.phone1 }}{{ . }}{{ end }}
            <br>{{ with .Site.Data.contactos.phone2 }}{{ . }}{{ end }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ end }}